@use 'pkg:@matteusan/himig';

@mixin render() {
  // Text
  .highlight {
    display: inline-block;
    position: relative;
    border-radius: himig.token-get('radius-small');
    font-family: himig.token-get('family-title');
    font-style: italic;
    font-weight: himig.token-get('weight-subtitle');
    text-decoration: underline;
    text-decoration-color: himig.token-get('accent-400');

    &:hover {
      &::after {
        transform: scale(1.05);
      }
    }

    &::after {
      content: '';
      width: 100%;
      height: calc(100% - 10px);
      display: block;
      position: absolute;
      bottom: 3px;
      right: -3px;
      border-radius: himig.token-get('radius-small');
      background: himig.token-get('accent-alpha-800');
      transition: all var(--ms-transition-time) ease;
      transform: rotate(-1deg);
      z-index: -1;
    }

    &::-moz-selection,
    &::selection {
      color: himig.token-get('ms-orange-inverted-ink') !important;
      background: himig.token-get('ms-orange-inverted-400') !important;
    }
  }

  .profession,
  .adjective {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    transition:
      font-weight var(--ms-transition-time) ease,
      letter-spacing var(--ms-transition-time) ease
    ;
    transform-origin: bottom;

    &:hover {
      font-weight: himig.primitive-token-get('weight.normal');
      letter-spacing: himig.to-rem(-1px);
    }
  }

  .italic {
    font-style: italic;
  }

  .h-screen {
    min-height: 100svh;
  }

  .h-half-screen {
    min-height: 66svh;
  }

  .mask-to-top {
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 100%);
    mask-image: linear-gradient(to top, transparent 0%, black 100%);
    overflow: visible !important;
  }

  .list-style-none {
    list-style: none;
  }

  .de-emphasize {
    color: himig.token-get('primary-200');
  }

  // Layout
  .absolute-center {
    height: 100vh;
    display: grid;
    place-items: center;
  }

  .constrained {
    width: calc(100% - 50px);
    max-width: himig.token-get('viewport-content-limit');
    margin-inline: auto;
  }

  .constrained-layout {
    width: calc(100% - 50px);
    max-width: himig.token-get('viewport-layout-limit');
    margin-inline: auto;
  }

  .letter-spacing-condensed {
    letter-spacing: himig.to-rem(-2px);
    font-stretch: condensed;
  }

  .letter-spacing-normal {
    letter-spacing: normal;
  }

  .letter-spacing-wide {
    letter-spacing: himig.to-rem(3px);
  }

  .overflow-y-hidden {
    overflow-y: hidden;
  }

  .aspect-ratio-16\/9 {
    aspect-ratio: 16 / 9;
  }
}