@use '~@matteusan/himig-web' as himig;

@use '~@matteusan/himig-web/hc-button' with ($button-style: 'playful');
@use '~@matteusan/himig-web/hc-card' with ($card-style: 'playful');
@use '~@matteusan/himig-web/hc-footer';
@use '~@matteusan/himig-web/hc-header' with ($header-style: 'scrollable');
@use '~@matteusan/himig-web/hc-hero';
@use '~@matteusan/himig-web/hc-navbar';
@use '~@matteusan/himig-web/hc-tags';
@use '~@matteusan/himig-web/hc-title-bar';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@include himig.init(
    $accent-inverted: (
        'default': #210c00,
        'dark': #100500,
        'light': #401d00,
        'ink': #ff6a00,
    ),
) {
    ::-moz-selection {
        color: himig.theme-token-get('accent-ink');
        background: himig.theme-token-get('accent');
    }
    
    ::selection {
        color: himig.theme-token-get('accent-ink');
        background: himig.theme-token-get('accent');
    }
    
    .content-wrap {
        width: calc(100% - 30px);
        max-width: 977px;
        margin: 0 auto;
        padding: 0 0 40px 0;
    }
    
    .grid {
        margin-top: 0.7rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
    
        > a {
            grid-column: revert;
        }
        
        @include himig.helper-breakpoint('medium') {
            grid-template-columns: repeat(2, 1fr);
            
            > a {
                grid-column: span 2;
            }
        }
        
        @include himig.helper-breakpoint('large') {
            grid-template-columns: repeat(3, 1fr);
    
            > a {
                grid-column: revert;
            }
        }
    }
    
    .content-section,
    .about-me {
        padding: 5vh 0;
    }
    
    .absolute-center {
        height: 100vh;
        display: grid;
        place-items: center;
    }
    
    .page-error {
        width: calc(100% - 40px);
        max-width: 420px;
    }
    
    @include hc-button.use();
    @include hc-card.use();
    @include hc-footer.use();
    @include hc-header.use();
    @include hc-hero.use();
    @include hc-navbar.use();
    @include hc-tags.use();
    @include hc-title-bar.use();
    
    .hc-button--full-width {
        height: 100%;
    }
    
    .hc-card__actions > a {
        width: max-content !important;
        min-width: max-content !important;
    }
    
    .hc-skeleton {
        width: 100%;
        height: 100%;
        background-color: himig.theme-token-get('surface');
        border: 1px solid himig.theme-token-get('surface');
    }
    
    .hc-button.hc-button--inverted {
        @include hc-button.override('accent-inverted', 'accent-inverted-ink', $shadow: 'accent-inverted-light');
        
        &:hover,
        &:focus {
            @include hc-button.override('accent-inverted', 'accent-inverted-ink', $shadow: 'accent-inverted-light');
        }
        
        &:active {
            @include hc-button.override('accent-inverted-light', 'accent-inverted-ink', $shadow: 'accent-inverted-light');
        }
    }
    
    .hc-navbar__item {
        &:hover {
            background-color: rgba(#fff, 30%);
        }
    
        &:active {
            border-color: rgba(#fff, 30%);
        }
    }
    
    .hc-footer__version {
        margin-left: 0.2rem;
    }
}
