@use '@matteusan/himig';

@use '@matteusan/himig/ms-badge';
@use '@matteusan/himig/ms-button';
@use '@matteusan/himig/ms-card';
@use '@matteusan/himig/ms-card/card-extend' as card;
@use '@matteusan/himig/ms-list';
@use '@matteusan/himig/ms-link';
@use '@matteusan/himig/ms-select-field';
@use '@matteusan/himig/ms-utils';

@use 'components/ms-carousel';
@use 'components/ms-footer';
@use 'components/ms-header';
@use 'components/ms-hero';
@use 'components/ms-navbar';
@use 'components/ms-title-bar';

@include himig.init(
  $primary: (
    200: #948b8b,
    300: #6e6363,
    400: #3d3838,
    600: #211f1f,
    800: #171111,
    'ink': #fff
  ),
  $surface: (
    200: #948b8b,
    300: #6e6363,
    400: #3d3838,
    600: #211f1f,
    800: #171111,
    'ink': #fff
  ),
  $supertitle: (
    'family': 'family.serif',
    'size': 'size.3xl',
    'weight': 900,
  ),
  $title: (
    'family': 'family.serif',
    'size': 'size.xl',
    'weight': 900
  ),
  $subtitle: (
    'weight': 200
  ),
  $extend: (
    'accent-ink': #100500 !important,
    'ms-orange-inverted': (
      '200': #59321d,
      '300': #3d1f08,
      '400': #281307,
      '600': #100500,
      'ink': #da6e28,
    ),
    'accent-gradient': linear-gradient(45deg, #c43e00 0%, #ffa040 100%),
    'transition-time': 0.2s
  )
) {
  #__next {
    overflow-x: clip;
  }

  html {
    scroll-padding-block-start: calc(55px + 2em);
    scroll-behavior: smooth;
  }

  main.content-wrap {
    width: calc(100% - 50px) !important;
  }

  @include ms-badge.render();
  @include ms-badge.extend('archived') {
    @include ms-badge.color((
      fill: 'ms-yellow.400',
      ink: 'accent-ink',
      border: 'ms-yellow.400'
    ));
  }

  @include ms-button.render(
    $struct: (
      padding: ('sm' 'md')
    ),
    $typography: (
      line-height: 'normal'
    )
  );

  .ms-button__icon {
    display: grid;
    place-items: center;

    & > * {
      max-width: none !important;
    }
  }

  @include ms-button.extend('small') {
    @include ms-button.struct((
      'padding': ('sm' 'md')
    ));
    @include ms-button.typography((
      'size': himig.to-rem(12px)
    ));
  }

  @include ms-button.extend('large') {
    @include ms-button.struct((
      'padding': ('md' 'lg')
    ));
    @include ms-button.typography((
      'size': 'md'
    ));
  }

  @include ms-button.extend('outlined') {
    box-shadow: 0 3px 0 himig.token-get('accent-800');

    &:active {
      transform: translateY(3px);
      box-shadow: 0 0 0 himig.token-get('accent-800');
    }
  }

  @include ms-button.extend('filled') {
    box-shadow: 0 3px 0 himig.token-get('accent-800');

    &:active {
      transform: translateY(3px);
      box-shadow: 0 0 0 himig.token-get('accent-800');
    }
  }

  @include ms-button.extend('full-width') {
    @include ms-button.struct((
      width: (
        default: 100%,
        max: 100%,
      ),
      height: 100%
    ));
  }

  @include ms-button.extend('inverted') {
    @include ms-button.color((
      fill: 'ms-orange-inverted-400',
      ink: 'ms-orange-inverted-ink',
      border: 'ms-orange-inverted-400',
    ));
    box-shadow: 0 3px 0 himig.token-get('ms-orange-inverted-200');

    &:hover{
      @include ms-button.color((
        fill: 'ms-orange-inverted-300',
        ink: 'ms-orange-inverted-ink',
        border: 'ms-orange-inverted-300',
      ));
    }

    &:focus {
      @include ms-button.color((
        fill: 'ms-orange-inverted-300',
        ink: 'ms-orange-inverted-ink',
        border: 'ms-orange-inverted-300',
      ));

      &:active {
        @include himig.key-bind('button-outline', 2px solid rgba(himig.token-get-raw('ms-orange-inverted-300'), himig.$color-outline-focus-opacity));
      }
    }

    &:active {
      @include ms-button.color((
        fill: 'ms-orange-inverted-200',
        ink: 'ms-orange-inverted-ink',
        border: 'ms-orange-inverted-200',
      ));
      transform: translateY(3px);
      box-shadow: 0 0 0 himig.token-get('ms-orange-inverted-200');
    }
  }

  @include ms-card.render(
    $color: (
      fill: 'surface-400',
      border: rgba(0 0 0 / 0)
    ),
    $typography: (
      family: (
        title: 'title',
      ),
      weight: (
        title: 'supertitle'
      )
    )
  );

  .ms-card {
    &:hover {
      .ms-card__media img {
        -webkit-filter: grayscale(0);
      }
    }

    .ms-card__media img {
      transition: all var(--ms-transition-time) ease;
      -webkit-filter: grayscale(100%);
    }
  }

  %status-chip {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.3rem 0.5rem;
    font-weight: 700;
    border-radius: 0 0 0 0.5rem;
  }

  @include card.extend('archived') {
    position: relative;

    &::after {
      @extend %status-chip;
      content: 'Archived';
      background: himig.primitive-token-get('ms-yellow.400');
      color: himig.token-get('accent-ink');
      font-size: himig.to-rem(12px);
    }
  }

  @include card.extend('hiatus') {
    position: relative;

    &::after {
      @extend %status-chip;
      content: 'On-hiatus';
      background: himig.primitive-token-get('ms-grey.400');
      color: #fff;
      font-size: himig.to-rem(12px);
    }
  }

  @include ms-list.render(
    $struct: (padding: ('sm' 0))
  );

  @include ms-link.render();

  @include ms-select-field.render(
    $struct:(
      width: 'max-content'
    )
  );

  @include ms-carousel.render();
  @include ms-footer.render();
  @include ms-header.render();
  @include ms-hero.render();
  @include ms-navbar.render();
  @include ms-title-bar.render();

  .ms-title-bar {
    align-items: center;

    .ms-title-bar__icon {
      display: grid;
      place-items: center;
    }
  }

  @include ms-utils.layout();
  @include ms-utils.color();
  @include ms-utils.struct();
  @include ms-utils.typography();

  .highlight {
    display: inline;
    color: himig.token-get('accent-400');
    font-weight: bold;
    text-decoration: underline dotted;
    text-decoration-thickness: 2px;

    &::-moz-selection,
    &::selection {
      color: himig.token-get('ms-orange-inverted-ink') !important;
      background: himig.token-get('ms-orange-inverted-400') !important;
    }
  }

  ::-moz-selection,
  ::selection {
    color: himig.token-get('accent-ink');
    background: himig.token-get('accent-400');
  }

  .content-section {
    padding: 0 0 7rem;
  }

  .absolute-center {
    height: 100vh;
    display: grid;
    place-items: center;
  }

  .page-error {
    width: calc(100% - 40px);
    max-width: 420px;
  }

  .picture-frame {
    width: clamp(300px, 30vw, 400px);
    height: 100%;
    margin: 0 auto;
    display: grid;
    place-items: center;
    border: 20px solid #fff;
    overflow: hidden;
    transform: rotateZ(2deg);
    user-select: none;
    animation-delay: 1s;
    animation: load-in 0.8s ease;
    transition: all var(--ms-transition-time) ease;

    @include himig.breakpoint-create('large') {
      &:hover {
        transform: rotateZ(0) translateY(-10px);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      object-position: center;
    }
  }

  #technologies {
    $children: 12;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    animation: load-in 0.5s ease;

    @include himig.breakpoint-create('medium') {
      grid-template-columns: repeat(4, 100px);
    }

    .technology {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem 1.2rem;
      border-radius: 0.5rem;
      border: 1px solid var(--ink, rgba(255 255 255 / 25%));
      color: var(--ink, rgba(255 255 255 / 50%));
      transition: all var(--ms-transition-time) ease;
      animation: load-in 0.2s ease;
      user-select: none;

      @include himig.breakpoint-create('large') {
        &:hover {
          transform: translateY(-10px);
        }
      }

      &:hover,
      &:focus {
        background-color: var(--tech-color, #fff);
        color: #fff;
        border-color: var(--tech-color, #fff);

        &#github {
          background-color: #fff;
          color: #211f1f !important;
          border-color: #fff;

          .technology__label {
            color: inherit;
          }
        }

        &#javascript {
          color: #211f1f !important;

          .technology__label {
            color: inherit;
          }
        }
      }

      .technology__img {
        width: clamp(24px, 100%, 40px);
        height: clamp(24px, 100%, 40px);
      }

      .technology__label {
        margin-top: 0.7rem;
        font-size: 0.8rem;
        text-align: center;
        color: #fff;
      }
    }
  }

  #stuff-i-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: load-in 0.5s ease;

    .ms-title-bar {
      margin: 0;
      padding: 0;
    }

    .services-list {
      width: 100%;
      display: flex;
      flex-flow: var(--direction, row) nowrap;
      gap: himig.primitive-token-get('gap.lg');
      overflow-x: var(--overflow, scroll);
      overflow-y: hidden;
      margin: 0 auto;
      padding: 0 0 himig.primitive-token-get('padding.md');
      text-align: center;

      scrollbar-width: none !important;
      &::-webkit-scrollbar-track {
        background: rgba(0 0 0 / 0) !important;
      }

      @include himig.breakpoint-create('medium') {
        justify-content: center;
      }

      .services-list__item {
        width: max-content;
        position: relative;
        color: var(--ink, rgba(255 255 255 / 50%));
        transition: all var(--ms-transition-time) ease;
        white-space: nowrap;
        list-style: none;
        cursor: pointer;

        &:hover {
          --ink: #fff;
        }

        &.is-active {
          --ink: #fff;

          &::before {
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: -0.3rem;
            left: 0;
            background-color: himig.token-get('accent-400');
            animation: show-lines 0.3s ease;
            transform-origin: left;
          }
        }
      }
    }

    .service {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      transition: all var(--ms-transition-time) ease;
      border-radius: 0.5rem;

      @include himig.breakpoint-create('medium') {
        &:hover {
          box-shadow: 0 5px 40px rgba(#fff, 0.1);
        }
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 0.5rem;
        aspect-ratio: 16/9;
        object-fit: cover;
        object-position: center;
      }

      .service__content {
        @include himig.breakpoint-create('medium') {
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          padding: max(1.2rem, 1.5vw);
          border-radius: 0.5rem;
          background: linear-gradient(180deg,
            rgba(#100500, 0%) 0%,
            rgba(#100500, 60%) 40%,
            rgba(#100500, 90%) 70%,
            rgba(#100500, 100%) 100%
          );

          > * {
            max-width: 540px;

            &:is(.ms-button) {
              max-width: max-content;
            }
          }
        }
      }
    }
  }

  #ready-to-collaborate,
  #need-more-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 1rem;
    background: #3d3838;
    box-shadow: 0 7px #211f1f;

    @include himig.breakpoint-create('large') {
      &:hover {
        transform: translateY(-10px);
      }
    }

    .ms-title-bar {
      margin: 0;
      padding: 0;
    }
  }

  .preview-image {
    position: relative;

    &:hover {
      &::after {
        content: attr(data-alt);
        position: absolute;
        bottom: 1.2rem;
        left: 1.2rem;
        padding: 0.3rem 0.5rem;
        background: himig.token-get('surface-400');
        color: himig.token-get('surface-ink');
        border-radius: 0.5rem;
        font-size: himig.primitive-token-get('size.sm');
        animation: load-in 0.5s ease;
        @include himig.struct-shadow('preview-image-tooltip', 'low');
      }
    }
  }

  @keyframes load-in {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .ms-markdown {
    p {
      &:only-of-type {
        margin: 0 !important;
      }

      code {
        display: inline-block;
        padding: 0.2rem 0.5rem;
        border-radius: himig.token-get('radius-small');
        background: himig.token-get('surface-alpha-400');
        color: himig.token-get('accent-400');
        font-size: himig.to-rem(12px);
      }
    }

    blockquote {
      padding: himig.primitive-token-get('padding.lg');
      border-left: 4px solid himig.token-get('accent-400');
      background: himig.token-get('surface-alpha-400');
      border-radius: himig.token-get('radius-small');
      margin-block: 1rem;
    }

    ul, ol {
      margin-block: 1rem;

      li {
        margin-inline-start: 1.2rem;

        &::marker {
          color: himig.token-get('accent-200');
        }
      }
    }

    pre {
      width: 100%;
      margin: 0.7rem 0 1.5rem;
      padding: himig.primitive-token-get('padding.lg');
      border-radius: himig.token-get('radius-medium');
      transition: all var(--ms-transition-time) ease;
      overflow-x: auto;
      @include himig.struct-shadow('markdown-code', 'sm');

      &:hover {
        box-shadow: 0 4px 20px rgba(#c4c4c4, 7%);
        --ms-shadow-color: #{rgba(#c4c4c4, 7%)};
      }

      code {
        max-width: 100%;
        @include himig.typography-apply('markdown-code', (
          family: 'mono',
          size: himig.to-rem(12px),
          weight: 'mono',
          line-height: 'mono'
        ));

        @include himig.breakpoint-create('medium') {
          @include himig.typography-size('markdown-code', himig.to-rem(14px));
        }
      }
    }
  }
}