@use 'pkg:@matteusan/himig';
@use 'stuff-i-do';
@use 'cta';

@mixin render() {
  .is-fullscreen {
    min-height: 100svh;
  }

  .picture-frame {
    --easing: cubic-bezier(0.83, 0, 0.17, 1);
    width: min(calc(100% - 250px), 157px);
    min-width: 100px;
    height: min(calc(100% - 250px), 157px);
    min-height: 100px;
    display: grid;
    place-items: center;
    // border: 2px solid himig.token-get('primary-300');
    border-radius: himig.primitive-token-get('radius.lg');
    overflow: hidden;
    user-select: none;
    transition: transform 0.4s var(--easing);

    @include himig.breakpoint-create('large') {
      &:hover {
        transform: rotateZ(-2deg) scale(1.05) !important;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      object-position: center;
    }
  }

  @include stuff-i-do.render();
  @include cta.render();
}