@use 'pkg:@matteusan/himig';
@use 'technologies';
@use 'stuff-i-do';
@use 'cta';

@mixin render() {
  .is-fullscreen {
    min-height: 100svh;
  }

  .picture-frame {
    width: clamp(200px, 30vw, 300px);
    height: clamp(200px, 30vw, 300px);
    margin: 0 auto;
    display: grid;
    place-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    overflow: hidden;
    transform: rotateZ(2deg);
    user-select: none;
    animation-delay: 1s;
    animation: load-in 0.8s ease;
    transition: box-shadow var(--ms-transition-time) ease;
    box-shadow: -5px 10px 0 var(--ms-theme-surface-300);

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
      object-position: center;
    }
  }

  @include technologies.render();
  @include stuff-i-do.render();
  @include cta.render();
}