@use 'pkg:@matteusan/himig';
@use 'sass:string';

@mixin render() {
  #services {
    container-type: inline-size;

    .service-container {
      // width: 100%;
      display: flex;
      flex-flow: column nowrap;
      gap: himig.key-create('service-container-gap', himig.primitive-token-get('gap.2xl'));
      // padding-inline: var(--page-margin, 25px);
      list-style: none;
      overflow-x: auto;
      overflow-y: clip;

      @include himig.breakpoint-create('medium') {
        @include himig.key-bind('service-container-gap', himig.primitive-token-get('gap.4xl'));
      }

      @include himig.breakpoint-create('large') {
        @include himig.key-bind('service-container-gap', himig.primitive-token-get('gap.6xl'));
      }
    }
  }

  .service-card {
    width: 100%;
    // max-width: 400px;
    height: auto;
    display: flex;
    flex-flow: var(--flow, column) nowrap;
    gap: himig.key-create('service-card-gap', himig.primitive-token-get('gap.lg'));
    transition: transform himig.token-get('time-short') himig.token-get('easing');

    @include himig.breakpoint-create('large') {
      --flow: row;
      @include himig.key-bind('service-card-gap', himig.primitive-token-get('gap.xl'));
    }

    .service-card__media {
      width: 100%;
      height: 100%;
      display: block;
      border-radius: himig.primitive-token-get('radius.md');
      overflow: hidden;
      aspect-ratio: himig.key-create('service-card-aspect-ratio', string.unquote('16 / 9'));

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .service-card__content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      @include himig.struct-apply('service-card-content', (
        // padding: 'md',
        gap: 'lg',
      ));

      h3 {
        line-height: 1.15;
      }

      .service-card__list {
        li {
          padding-block: himig.primitive-token-get('padding.sm');
          @include himig.typography-apply('service-card-list-item', (
            family: 'body',
            size: 'sm',
            weight: 200,
            line-height: 'wide'
          ));
          transition: margin-inline-end himig.token-get('time-short') himig.token-get('easing');

          @include himig.breakpoint-create('medium') {
            @include himig.typography-bind('service-card-list-item', (
              size: 'md',
            ));

            &:hover {
              @include himig.key-bind('service-card-list-item-margin', himig.primitive-token-get('gap.2xl'));
            }
          }

          &:not(:last-child) {
            border-block-end: 1px solid himig.key-create('service-card-list-item-border', himig.token-get('surface-300'));
          }

          &::before {
            content: attr(data-service-number) '.';
            width: 100%;
            max-width: 2ch;
            display: inline-block;
            margin-inline-end: himig.key-create('service-card-list-item-margin', himig.primitive-token-get('gap.xl'));
            padding-block-start: 0.1rem;
            color: himig.key-create('service-card-list-item-border', himig.token-get('surface-200'));
            font-size: himig.primitive-token-get('size.xs');
            line-height: himig.primitive-token-get('line-height.normal');
            transition: margin-inline-end himig.token-get('time-short') himig.token-get('easing');

            @include himig.breakpoint-create('medium') {
              font-size: himig.primitive-token-get('size.sm');
            }
          }

          &::marker {
            color: transparent;
          }
        }
      }
    }

    .ms-button {
      margin-block-start: auto;
    }
  }
}