@use 'pkg:@matteusan/himig';
@use 'sass:string';

@mixin render() {
  #services {
    container-type: inline-size;

    .service-container {
      width: max-content;
      display: flex;
      flex-flow: row nowrap;
      gap: himig.primitive-token-get('gap.lg');
      padding-block-start: himig.primitive-token-get('margin.xl');
      padding-inline: var(--page-margin, 25px);
      list-style: none;
      overflow-x: auto;
      overflow-y: clip;

      @include himig.breakpoint-create('large') {
        --page-margin: max(25px, calc((100% - 1077px) / 2));
      }
    }
  }

  .service-card {
    --easing: cubic-bezier(0.83, 0, 0.17, 1);
    width: 100%;
    max-width: 400px;
    height: auto;
    display: flex;
    flex-flow: var(--flow, column-reverse) nowrap;
    transition: transform himig.token-get('time-short') himig.token-get('easing');

    @include himig.breakpoint-create('large') {
      // --flow: row;
      // @include himig.key-bind('service-card-gap', himig.primitive-token-get('gap.lg'));
      // overflow: hidden;
    }

    &:hover {
      transform: translateY(-15px);
    }

    .service-card__media {
      width: 100%;
      height: 100%;
      border-radius: himig.primitive-token-get('radius.md') himig.primitive-token-get('radius.md') 0 0;
      overflow: hidden;
      aspect-ratio: himig.key-create('service-card-aspect-ratio', string.unquote('16 / 9'));

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .service-card__content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      background: himig.key-create('service-card-fill', #{radial-gradient(circle at 100% 50%, rgb(from himig.token-get('surface-400') r g b / 50%) 0%, transparent 100%)});
      @include himig.color-apply('service-card', (
        ink: 'surface-ink',
        border: rgb(from himig.token-get('surface-400') r g b / 50%)
      ));
      @include himig.struct-apply('service-card', (
        padding: ('xl'),
        radius: (0 0 'lg' 'lg'),
        gap: 'lg',
        border-width: 'xs',
        border-style: 'solid',
      ));

      h3 {
        line-height: 1.15;
      }

      .service-card__list {
        li {
          padding-block: himig.primitive-token-get('padding.sm');
          @include himig.typography-apply('service-card-list-item', (
            family: 'body',
            size: 'md',
            weight: 200,
            line-height: 'wide'
          ));
          transition: all var(--ms-transition-time) ease;

          &:not(:last-child) {
            border-block-end: 1px solid himig.key-create('service-card-list-item-border', himig.token-get('surface-300'));
          }

          /*&:hover {
            color: himig.token-get('accent-400');
            @include himig.key-bind('service-card-list-item-margin', himig.primitive-token-get('gap.xl'));
            @include himig.key-bind('service-card-list-item-border', himig.token-get('accent-alpha-800'));
          }*/

          &::before {
            content: attr(data-service-number) '.';
            width: 100%;
            max-width: 2ch;
            display: inline-block;
            margin-inline-end: himig.key-create('service-card-list-item-margin', himig.primitive-token-get('gap.xl'));
            padding-block-start: 0.1rem;
            color: himig.key-create('service-card-list-item-border', himig.token-get('surface-200'));
            font-size: himig.primitive-token-get('size.sm');
            line-height: himig.primitive-token-get('line-height.normal');
            transition: all var(--ms-transition-time) ease;
          }

          &::marker {
            color: transparent;
          }
        }
      }
    }

    .ms-button {
      margin-block-start: auto;
    }
  }
}