@use 'pkg:@matteusan/himig';
@use 'sass:string';

@mixin render() {
  #stuff-i-do {
    animation: load-in 0.5s ease;
    container-type: inline-size;

    .service-container {
      display: flex;
      flex-flow: column nowrap;
      gap: himig.primitive-token-get('gap.2xl');
      list-style: none;
    }

    .service-card {
      --easing: cubic-bezier(0.83, 0, 0.17, 1);
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: var(--flow, column-reverse) nowrap;
      @include himig.struct-apply('service-card', (
        gap: 'md',
      ));

      @include himig.breakpoint-create('large') {
        --flow: row;
        background: himig.key-create('service-card-fill', #{radial-gradient(circle at 100% 50%, var(--ms-theme-surface-alpha-800) 0%, transparent 100%)});
        @include himig.color-apply('service-card', (
          ink: 'surface-ink',
          border: 'surface-alpha-800'
        ));
        @include himig.struct-apply('service-card', (
          padding: ('xl' '2xl'),
          radius: 'lg',
          border-width: 'xs',
          border-style: 'solid',
        ));
        @include himig.key-bind('service-card-gap', himig.primitive-token-get('gap.lg'));
        overflow: hidden;
      }

      .service-card__media {
        width: 100%;
        height: 100%;
        border-radius: himig.primitive-token-get('radius.md');
        overflow: hidden;
        transition: z-index 0.5s ease,
                    transform 0.5s var(--easing),
                    box-shadow 0.5s var(--easing);
        flex: 1;
        aspect-ratio: himig.key-create('service-card-aspect-ratio', string.unquote('16 / 10'));
        // transform-origin: bottom right;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

        @include himig.breakpoint-create('large') {
          transform: scale(1.5) translateX(50px) translateY(1.5em) rotateZ(var(--rotate-z, 2deg)) !important;
          box-shadow: 0 10px 20px #{rgba(#000, 0.2)};

          &:hover {
            z-index: 1;
          }

          &:not(:hover) {
            animation: fix-z-index 0.5s ease;
          }
        }
      }

      .service-card__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;

        @include himig.breakpoint-create('large') {
          padding-block: himig.primitive-token-get('padding.lg');
        }

        .service-card__list {
          li {
            padding-block: himig.primitive-token-get('padding.sm');
            @include himig.typography-apply('service-card-list-item', (
              family: 'body',
              size: 'md',
              weight: 200,
              line-height: 'wide'
            ));
            transition: all var(--ms-transition-time) ease;

            &:not(:last-child) {
              border-block-end: 1px solid himig.key-create('service-card-list-item-border', himig.token-get('surface-300'));
            }

            /*&:hover {
              color: himig.token-get('accent-400');
              @include himig.key-bind('service-card-list-item-margin', himig.primitive-token-get('gap.xl'));
              @include himig.key-bind('service-card-list-item-border', himig.token-get('accent-alpha-800'));
            }*/

            &::before {
              content: attr(data-service-number) '.';
              width: 100%;
              max-width: 2ch;
              display: inline-block;
              margin-inline-end: himig.key-create('service-card-list-item-margin', himig.primitive-token-get('gap.xl'));
              padding-block-start: 0.1rem;
              color: himig.key-create('service-card-list-item-border', himig.token-get('surface-200'));
              font-size: himig.primitive-token-get('size.sm');
              line-height: himig.primitive-token-get('line-height.normal');
              transition: all var(--ms-transition-time) ease;
            }

            &::marker {
              color: transparent;
            }
          }
        }
      }

      .ms-button {
        margin-block-start: auto;
      }
    }
  }
}