@use 'pkg:@matteusan/himig';

@mixin render() {
  #skills-and-technologies__wrapper {
    width: calc(100% - 50px);
    height: 100%;
    max-width: himig.token-get('viewport-layout-limit');
    border-radius: himig.primitive-token-get('radius.xl');
  }

  .technologies {
    $children: 12;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: center;
    animation: load-in 0.5s ease;

    .technology {
      width: 100%;
      min-width: clamp(100px, 10vw, 200px);
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem 1.2rem;
      border-radius: 0.5rem;
      background: himig.token-get('surface-600');
      border: 1px solid var(--ink, #{himig.token-get('surface-400')});
      color: var(--ink, #{himig.token-get('surface-300')});
      transition: all var(--ms-transition-time) ease;
      animation: load-in 0.2s ease;
      user-select: none;

      @include himig.breakpoint-create('large') {
        &:not(.is-active):not(.is-inactive):hover {
          transform: translateY(-10px) !important;
        }
      }

      &:not(.is-inactive):not(.is-active):hover,
      &:not(.is-inactive):not(.is-active):focus,
      &:not(.is-inactive):not(.is-active) {
        background-color: var(--tech-color, #fff);
        color: #fff;
        border-color: var(--tech-color, #fff);

        &#react,
        &#php,
        &#vue\.js,
        &#nuxt {
          color: #211f1f !important;
        }

        &#github {
          background-color: #fff;
          color: #211f1f !important;
          border-color: #fff;

          .technology__label {
            color: inherit;
          }
        }

        &#javascript {
          color: #211f1f !important;

          .technology__label {
            color: inherit;
          }
        }
      }

      &.is-inactive {
        --ink: #{himig.token-get('surface-400')};
        opacity: 0.1;
        transform: scale(0.9) !important;

        &:hover {
          --ink: #{himig.token-get('surface-400')};
        }
      }

      .technology__img {
        width: clamp(32px, 100%, 48px);
        height: clamp(32px, 100%, 48px);
      }

      .technology__label {
        margin-top: 0.7rem;
        font-size: 0.8rem;
        text-align: center;
        color: inherit;
      }
    }
  }
}