@use 'pkg:@matteusan/himig';

@mixin render() {
  #skills-and-technologies__wrapper {
    width: calc(100% - 50px);
    height: 100%;
    max-width: himig.token-get('viewport-layout-limit');
    border-radius: himig.primitive-token-get('radius.xl');
    overflow: hidden;
    background: radial-gradient(circle at -10% 50%, rgb(from himig.token-get('accent-400') r g b / 33%) 0%, transparent 100%);
    border: 1px solid rgb(from himig.token-get('accent-400') r g b / 33%);
  }

  .technologies {
    width: max-content;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: var(--justify, center);
    animation: loop var(--loop-time, 50s) linear infinite;
    animation-play-state: paused;
    margin-block-end: 1.5rem; // margin.lg

    &.is-playing {
      animation-play-state: running;
    }

    &:hover {
      animation-play-state: paused;
    }

    @keyframes loop {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }

    .technology {
      width: 100px;
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem 1.2rem;
      border-radius: 0.5rem;
      // background: himig.token-get('surface-600');
      border: 1px solid var(--ink, #{himig.token-get('surface-400')});
      color: var(--ink, #{himig.token-get('surface-300')});
      transition: all var(--ms-transition-time) ease;
      user-select: none;

      @include himig.breakpoint-create('large') {
        &:not(.is-active):not(.is-inactive):hover {
          transform: translateY(-10px) !important;
        }
      }

      &:not(.is-inactive):not(.is-active):hover,
      &:not(.is-inactive):not(.is-active):focus,
      &:not(.is-inactive):not(.is-active) {
        color: var(--tech-color, #fff);
        border-color: var(--tech-color, #fff);

        &#github,
        &#next\.js,
        &#three\.js {
          color: #fff;
          border-color: #fff;

          .technology__label {
            color: inherit;
          }
        }

        &#sqlite {
          color: #fff;
        }
      }

      &.is-inactive {
        --ink: #{himig.token-get('surface-400')};
        opacity: 0.1;
        transform: scale(0.9) !important;

        &:hover {
          --ink: #{himig.token-get('surface-400')};
        }
      }

      .technology__img {
        width: clamp(32px, 100%, 48px);
        height: clamp(32px, 100%, 48px);
      }

      .technology__label {
        margin-top: 0.7rem;
        font-size: 0.8rem;
        text-align: center;
        color: inherit;
      }
    }
  }
}