@use 'pkg:@matteusan/himig';

@mixin render() {
  #technologies {
    $children: 12;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, clamp(100px, 10vw, 200px));
    justify-content: center;
    animation: load-in 0.5s ease;

    @include himig.breakpoint-create('medium') {
      grid-template-columns: repeat(auto-fit, clamp(100px, 10vw, 200px));
    }

    .technology {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem 1.2rem;
      border-radius: 0.5rem;
      border: 1px solid var(--ink, #{himig.token-get('surface-400')});
      color: var(--ink, #{himig.token-get('surface-300')});
      transition: all var(--ms-transition-time) ease;
      animation: load-in 0.2s ease;
      user-select: none;

      @include himig.breakpoint-create('large') {
        &:not(.is-active):not(.is-inactive):hover {
          transform: translateY(-10px) !important;
        }
      }

      &:not(.is-inactive):not(.is-active):hover,
      &:not(.is-inactive):not(.is-active):focus,
      &:not(.is-inactive):not(.is-active) {
        // background-color: var(--tech-color, #fff);
        color: var(--tech-color, #fff);
        border-color: var(--tech-color, #fff);

        &#sqlite {
          color: #fff;
        }

        &#github,
        &#next\.js,
        &#three\.js {
          color: #fff;
          border-color: #fff;

          .technology__label {
            color: inherit;
          }
        }
      }

      &.is-active {
        background-color: var(--tech-color, #fff);
        color: #fff;
        border-color: var(--tech-color, #fff);
        transform: scale(1.05) !important;

        &#react,
        &#php,
        &#vue\.js,
        &#nuxt {
          color: #211f1f !important;
        }

        &#github {
          background-color: #fff;
          color: #211f1f !important;
          border-color: #fff;

          .technology__label {
            color: inherit;
          }
        }

        &#javascript {
          color: #211f1f !important;

          .technology__label {
            color: inherit;
          }
        }
      }

      &.is-inactive {
        --ink: #{himig.token-get('surface-400')};
        opacity: 0.1;
        transform: scale(0.9) !important;

        &:hover {
          --ink: #{himig.token-get('surface-400')};
        }
      }

      .technology__img {
        width: clamp(24px, 100%, 40px);
        height: clamp(24px, 100%, 40px);
      }

      .technology__label {
        margin-top: 0.7rem;
        font-size: 0.8rem;
        text-align: center;
        color: inherit;
      }
    }
  }
}