@use '@matteusan/himig';

$header-fill: radial-gradient(circle at 0% 50%, var(--ms-theme-surface-alpha-800) 0%, transparent 100%) !default;
// $header-fill: 'surface-alpha-200' !default;
$header-ink: 'surface-ink' !default;
$header-border: 'surface-alpha-800' !default;

$header-un-scrolled-fill: rgba(0 0 0 / 0) !default;
$header-un-scrolled-ink: 'accent-ink' !default;
$header-un-scrolled-border: $header-un-scrolled-fill !default;

$header-size: himig.primitive-token-get('size.xl') !default;

$header-style: 'default' !default;

@mixin render() {
  .ms-header {
    @include himig.struct-apply('header', (
      width: (
        default: calc((100% - 50px) + 2em),
        max: calc(#{himig.token-get('viewport-layout-limit')} + 2em)
      )
    ));
    min-height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    gap: himig.primitive-token-get('gap.md');
    top: 0;
    left: 0;
    right: 0;
    margin: 0.5em auto;
    padding: 0.5em 1em;
    border-radius: himig.primitive-token-get('radius.md');
    z-index: 100;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    @include himig.prefix(transition, all 0.5s ease);

    background: himig.key-create('header-fill', $header-un-scrolled-fill);
    @include himig.color-apply('header', (
      ink: $header-ink,
      border: $header-un-scrolled-border
    ));

    @include himig.struct-apply('header', (
      border-width: 'xs',
      border-style: 'solid'
    ));

    &.is-scrollable {
      &:not(.is-scrolled) {
        @include himig.key-bind('navbar-inset-top', 56px);

        .ms-navbar__wrapper {
          @include himig.breakpoint-create('large', 'max') {
            @include himig.struct-bind('navbar-wrapper', (
              width: (
                default: calc((100% - 50px) + 2em),
                max: #{himig.token-get('viewport-layout-limit')}
              )
            ));
          }
        }
      }

      &.is-scrolled {
        @include himig.key-bind('header-fill', $header-fill);
        @include himig.color-bind('header', (
          ink: $header-ink,
          border: $header-border
        ));
        @include himig.struct-bind('header', (
          width: (
            default: calc(100% - 50px),
            max: #{himig.token-get('viewport-layout-limit')}
          )
        ));
        @include himig.key-bind('navbar-inset-right', 0);
        --ms-header-brand-visibility: block;

        .ms-navbar__wrapper {
          @include himig.struct-bind('navbar-wrapper', (
            width: 100%
          ));
        }
      }
    }

    &:not(.is-scrollable) {
      @include himig.key-bind('header-fill', $header-fill);
      @include himig.color-bind('header', (
        ink: $header-ink,
        border: $header-border
      ));
      @include himig.struct-bind('header', (
        width: (
          default: calc(100% - 50px),
          max: #{himig.token-get('viewport-layout-limit')}
        )
      ));
      backdrop-filter: blur(8px);
      --ms-header-brand-visibility: block;
    }

    .ms-header__brand {
      a {
        text-decoration: none;
      }

      h1,
      h2,
      h3 {
        position: relative;
        top: 0;
        left: 0;
        border-radius: himig.primitive-token-get('radius.sm');
        display: var(--ms-header-brand-visibility, block);
        user-select: none;
        letter-spacing: himig.to-rem(-3px);
        @include himig.struct-shadow('header-title', 'high');
        z-index: 2;

        @include himig.breakpoint-create('large') {
          display: var(--ms-header-brand-visibility, block);
        }
      }
    }

    .ms-header__actions {
      display: flex;
      flex-flow: row-reverse nowrap;
      align-items: center;
      gap: 0.5rem;
    }
  }
}