@use '@matteusan/himig';

@mixin render() {
  .ms-carousel {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(#{6}, clamp(325px, 30vw, calc((1077px / 5) * 1.6)));
    grid-gap: 1rem;
    overflow-x: scroll;
    overflow-y: visible;
    scroll-snap-type: x mandatory;

    > * {
      scroll-snap-align: center;
    }

    scrollbar-width: none !important;
    &::-webkit-scrollbar-track {
      background: rgba(0 0 0 / 0) !important;
    }

    @include himig.breakpoint-create('large') {
      overflow-x: auto;
      overflow-y: auto;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}