@use '@matteusan/himig';

@mixin render() {
  .ms-hero__background {
    width: calc(var(--circle-size, 500px) * 2);
    height: calc(var(--circle-size, 500px) * 2);
    display: block;
    position: absolute;
    inset: -5dvw -15dvh 0;
    z-index: -1;
    background: radial-gradient(circle var(--circle-size, 500px) at 50% 50%, rgb(from himig.token-get('accent-400') r g b / 20%) 0%, transparent 100%);

    @include himig.breakpoint-create('medium') {
      --circle-size: 600px;
    }

    @include himig.breakpoint-create('large') {
      --circle-size: 800px;
    }
  }

  .ms-hero {
    width: 100%;
    min-height: calc(100dvh);
    display: grid;
    place-items: flex-end;
    position: relative;
    margin-inline: auto;
    margin-block-end: himig.primitive-token-get('margin.6xl');
    padding-block: himig.primitive-token-get('padding.2xl');
    overflow: clip;

    @include himig.breakpoint-create('xlarge') {
      padding-block: himig.primitive-token-get('padding.5xl');
    }

    .ms-hero__wrapper {
      width: calc(100% - 50px);
      max-width: himig.token-get('viewport-content-limit');
      margin-inline: auto;
      display: flex;
      flex-flow: column nowrap;
      gap: himig.primitive-token-get('gap.lg');
    }
  }
}