@use 'pkg:@matteusan/himig';

@mixin render() {
  .ms-carousel {
    --ms-viewport-content-limit: 67.3125rem;
    width: 100%;
    margin: 0 auto;
    gap: himig.primitive-token-get('gap.md');
    list-style: none;
    padding-inline-start: calc(50% - var(--ms-viewport-content-limit) / 2);
    padding-inline-end: calc(50% - var(--ms-viewport-content-limit) / 2);
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: auto hidden;
    scrollbar-width: var(--ms-viewport-content-limit);

    > * {
      scroll-snap-align: center;
    }

    &::-webkit-scrollbar-track {
      width: var(--ms-viewport-content-limit);
      background: rgba(0 0 0 / 0) !important;
    }
  }

  .ms-carousel__item {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    inset: 0;
    transition: all var(--ms-transition-time) ease;

    .ms-carousel__media {
      width: 100%;
      aspect-ratio: 16/9;
      border-radius: 0.5rem;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .ms-carousel__content {
      width: 100%;
    }
  }
}