@use '@matteusan/himig';

@mixin render() {
  .ms-navbar__trigger {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    @include himig.color-apply('navbar-trigger', (
      fill: rgba(0 0 0 / 0),
      ink: inherit
    ));
    @include himig.struct-apply('navbar-trigger', (
      radius: 'small',
      padding: 'sm'
    ));
    border: none;
    cursor: pointer;
    transition: all var(--ms-transition-time) ease;

    &:hover {
      @include himig.color-fill('navbar-trigger', rgba(255 255 255 / 20%));
    }

    @include himig.breakpoint-create('large') {
      display: none;
    }
  }

  .ms-navbar {
    display: none;
    position: fixed;
    top: himig.key-create('navbar-bottom', calc(40px + 1.2rem));
    right: himig.key-create('navbar-right', calc(1.5rem));
    transition: all var(--ms-transition-time) ease;
    z-index: 90;

    .ms-list__item {
      display: flex;
      justify-content: center;
      padding: 0 !important;
      text-align: left;
      user-select: none;

      a {
        width: 100%;
        display: inline-block;
        text-align: inherit;
        padding: 0.5rem 0.7rem;
      }

      &.is-active {
        @include himig.color-bind('list-item', (
          fill: 'surface-200',
          ink: 'surface-ink',
          border: 'surface-200'
        ));
        @include himig.typography-bind('list-item', (
          weight: 700
        ));
      }

      &.is-external {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        a::after {
          display: inline-block;
          width: 16px;
          height: 16px;
          font-size: 16px;
          color: #fff;
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='white' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25' /%3E%3C/svg%3E%0A");
          margin-left: 0.5rem;
          align-self: center;
        }
      }
    }

    @include himig.breakpoint-create('large') {
      display: block;
      @include himig.key-bind('navbar-bottom', calc(0.5rem));
      @include himig.key-bind('navbar-right', calc(1.2rem));

      .ms-list {
        flex-flow: row nowrap;

        .ms-list__item {
          display: flex;
          justify-content: center;
          text-align: center;
        }
      }
    }

    &.is-open {
      display: block;
    }
  }
}