@use '@matteusan/himig';

@mixin render() {
  .ms-carousel {
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(#{5}, calc((1077px / 5) * 1.6));
    grid-gap: 1rem;
    grid-template-rows: none;
    backdrop-filter: blur(8px);
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    > * {
      scroll-snap-align: center;
    }

    scrollbar-width: none !important;
    &::-webkit-scrollbar-track {
      background: rgba(0 0 0 / 0) !important;
    }
  }
}