@use 'pkg:@matteusan/himig';

@mixin render() {
  .ms-footer {
    width: calc(100% - 50px);
    max-width: himig.token-get('viewport-layout-limit');
    margin-inline: auto;
    margin-block-end: himig.primitive-token-get('margin.lg');
    text-align: center;
    border-radius: himig.primitive-token-get('radius.xl');

    background: himig.key-create('footer-fill', #{radial-gradient(circle at 50% 100%, rgb(from himig.token-get('surface-400') r g b / 50%) 0%, transparent 100%)});
    @include himig.color-apply('footer', (
      ink: 'surface-ink',
      border: rgb(from himig.token-get('surface-400') r g b / 50%)
    ));
    @include himig.struct-apply('footer', (
      padding: ('lg' 'sm'),
      border-width: 'xs',
      border-style: 'solid'
    ));

    .ms-footer__title {
      width: max-content;
      margin: 0 auto;
      @include himig.color-ink('footer-title', inherit);
      @include himig.typography-apply('footer-title', (
        family: 'supertitle',
        size: 'lg',
        weight: 'body',
        line-height: 'condensed',
        squeeze: 'tight'
      ));
      transition: color himig.token-get('time-short') himig.token-get('easing');
      font-stretch: condensed;
      cursor: pointer;

      &:hover {
        @include himig.color-ink('footer-title', 'accent-400', 'bind');
      }
    }

    .ms-footer__copyright {
      @include himig.typography-apply('footer-copyright', (
        family: 'small',
        size: 'small',
        weight: 'small',
        line-height: 'small'
      ));
    }

    .ms-footer__version {
      margin-left: 0.2rem;

      @include himig.typography-apply('footer-version', (
        family: 'small',
        size: 'small',
        weight: 'small',
        line-height: 'small',
        squeeze: 'normal'
      ));
    }
  }
}