@use '@matteusan/himig';

$header-fill: 'surface-400' !default;
$header-ink: 'surface-ink' !default;
$header-border: $header-fill !default;

$header-un-scrolled-fill: transparent !default;
$header-un-scrolled-ink: 'accent-ink' !default;
$header-un-scrolled-border: $header-un-scrolled-fill !default;

$header-size: himig.primitive-token-get('size.xl') !default;

$header-style: 'default' !default;
// $header-breakpoint: 'medium' !default;

@mixin render() {
  .ms-header {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.6em 1.2em;
    z-index: 100;
    @include himig.prefix(transition, all var(--ms-theme-transition-time) ease);

    &.is-scrollable {
      @include himig.color-apply('header', (
        fill: $header-un-scrolled-fill,
        ink: $header-un-scrolled-ink,
        border: $header-un-scrolled-border
      ));

      &:not(.is-scrolled) {
        .ms-list__item {
          --ms-list-item-fill: var(--ms-theme-surface-alpha-400) ;
          --ms-list-item-border: rgba(0 0 0 / 0);
          backdrop-filter: blur(8px) !important;

          &.is-active {
            --ms-list-item-fill: var(--ms-theme-surface-alpha-800) ;
          }
        }
      }

      &.is-scrolled {
        backdrop-filter: blur(8px);
        background: linear-gradient(var(--ms-theme-surface-alpha-400) 0%, rgba(255 255 255 / 0) 100%);
        filter: linear-gradient(var(--ms-theme-surface-alpha-400) 0%, rgba(255 255 255 / 0) 100%);

        --ms-header-brand-visibility: block;
        @include himig.color-bind('header', (
          ink: $header-ink,
        ));
      }
    }

    .ms-header__brand {
      a {
        text-decoration: none;
      }

      h1,
      h2,
      h3 {
        position: relative;
        top: 0;
        left: 0;
        border-radius: himig.primitive-token-get('radius.sm');
        display: var(--ms-header-brand-visibility, none);
        user-select: none;
        @include himig.struct-shadow('header-title', 'high');

        @include himig.breakpoint-create('large') {
          --ms-header-brand-visibility: block;
        }
      }
    }
  }
}