@use '~@matteusan/sentro';

@mixin use() {
    .msc-title-bar {
        display: flex;
        flex-flow: row nowrap;
        margin: 1rem 0 0 0;
        padding: 0.6rem 0 0 0;
        background-color: rgba(0 0 0 / 0);
        color: sentro.token-get('surface-ink');
        border-radius: sentro.token-get('radius-small');
        
        & > * + * {
            margin-left: 0.4rem;
        }
        
        .msc-title-bar__icon {
            font-size: sentro.px-to-rem(30px);
            color: sentro.token-get('accent');
        }
        
        .msc-title-bar__title {
            font-size: sentro.px-to-rem(26px);
        }
    }
}