@use '~@matteusan/sentro';

@use '../helpers';

$navbar-fill: sentro.token-get('surface-dark');
$navbar-ink: sentro.token-get('surface-ink');

@mixin use() {
    .msc-navbar__trigger {
        background-color: rgba(0 0 0 / 0);
        color: inherit;
        border: none;
        
        @include helpers.breakpoint('medium') {
            display: none !important;
        }
    }
    
    .msc-navbar {
        width: 275px;
        height: calc(100% - 55px);
        
        position: fixed;
        bottom: 0;
        right: 0;
        
        display: none;
        
        padding: 1rem;
        
        z-index: 90;
    
        background-color: sentro.key-create('navbar-fill', $navbar-fill);
        color: sentro.key-create('navbar-ink', $navbar-ink);
        
        &.open {
            display: flex;
            flex-flow: column nowrap;
            @include sentro.elevation-apply(4);
            
            & > * + * {
                margin-top: 0.7rem;
            }
        }
    
        @include helpers.breakpoint('medium') {
            width: 100%;
            display: flex !important;
            position: relative;
            background-color: rgba(0 0 0 / 0);
            color: inherit;
        }
        
        .msc-navbar__item {
            padding: 0.6rem 0.8rem;
            cursor: pointer;
            border-radius: sentro.token-get('radius-small');
            user-select: none;
            
            * {
                text-decoration: none !important;
            }
            
            &.active {
                font-weight: 700;
            }
            
            &:hover {
                background-color: sentro.token-get('surface');
    
                @include helpers.breakpoint('medium') {
                    background-color: rgba(#f1f1f1, 27%);
                    // text-decoration: underline;
                }
            }
        }
    }
}