@use '~@matteusan/sentro';

$header-fill: rgba(0 0 0 / 0);
$header-ink: sentro.token-get('accent-ink');
$header-scrolled-fill: sentro.token-get('surface');
$header-scrolled-ink: sentro.token-get('surface-ink');

@mixin use() {
    .msc-header {
        width: 100%;
        height: 55px;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        position: fixed;
        top: 0;
        left: 0;
        
        @include sentro.prefix(transition, all 0.1s ease);
        z-index: 100;
        
        background-color: sentro.key-create('header-fill', $header-fill);
        color: sentro.key-create('header-ink', $header-ink);
        padding: 0.6em 1.2em;
        
        &.scrolled {
            background-color: sentro.key-create('header-scrolled-fill', $header-scrolled-fill);
            color: sentro.key-create('header-scrolled-ink', $header-scrolled-ink);
        }
        
        .msc-header__brand {
            h1,
            h2,
            h3 {
                font-size: sentro.px-to-rem(28px);
                user-select: none;
                color: inherit;
            }
        }
    }
}