@use 'sass:map';
@use 'sass:list';

$breakpoints: (
    'small': 320px,
    'medium': 540px,
    'large': 877px
);

@mixin breakpoint($query) {
    @media (min-width: map.get($breakpoints, $query)) {
        @content;
    }
}

@mixin grid($repeats, $size) {
    display: grid;
    grid-template-columns: repeat($repeats, $size);
}
